<%= form_with(model: key, local: true) do |form| %>
  <% if key.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(key.errors.count, "error") %> prohibited this key from being saved:</h2>

      <ul>
      <% key.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :n %>
    <%= form.number_field :n, id: :key_n %>
  </div>

  <div class="field">
    <%= form.label :e %>
    <%= form.number_field :e, id: :key_e %>
  </div>

  <div class="field">
    <%= form.label :d %>
    <%= form.number_field :d, id: :key_d %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
